{% extends 'base.html' %}

{% block head %}
    <style>
        br {
            display: block;
            margin: 5px 0;
        }
    </style>
{% endblock %}



{% block body %}

    <h2 style="margin-top: 10px; text-align: center;">Menu Option</h2>

    <form class = "menu" method="POST" action="{{ url_for( 'displayRecipe' ) }}">
        
        {%for menu in listMenu%} 
            <div class="container">
                <button type="submit" name="selectMenu" value={{menu['FoodID']}} class="container" style="background-color: #f9d4a6;border-radius: 15px;width: 100;margin-top: 5%;">
                <br>
                <div class="row">
                    <div class="col-sm">
                        <img src="{{ url_for('static', filename= menu['Picture']) }}" style="width: 40%;">
                    </div>
                    <div class="col-sm">
                            {{menu['menuName']}} 
                            [<img src="{{ url_for('static', filename= 'img/star.png') }}" style="width: 6%;"> {{menu['Rate']}}]
                    </div>
                  </div>
                  <br>
                
                    
                    
                </button>
            </div>
        {%endfor%}

    </form>

{% endblock %}


