{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

    <h2 class="text-center" style="margin-top: 10px;">Confirm Ingredients</h2>

    <div class="table-responsive" style="margin-top: 10%;">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>

                {%for eachIngre in ingredients%} 

                    {% if eachIngre["step"] == 0 %}
                        <tr>
                    {% endif %}
                    
                    <td><img>{{eachIngre["ingredient"]}}</td>
                    
                    {% if eachIngre["step"] == 1 %}
                        </tr>
                    {% endif %}

                {%endfor%}

            </tbody>
        </table>
    </div>

    <div class="fixed-footer-button" id="button">
        <div class="container" style="text-align: right;">

            <a href="/fridgeSelection/ingredient"><button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i>Edit</button></a>
            <a href="/fridgeSelection/ingredient/resultmenu"><button type="button" class="btn btn-warning btn-circle btn-xl"><i class="glyphicon glyphicon-remove"></i>Confirm</button></a>
            
        </div>        
    </div>

{% endblock %}
