{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <h1 class="text-center">COIN</h1>
    <div class="table-responsive" style="margin-top: 5%;">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td><img style="margin-left: 30%;">
                        <h1 class="text-center">100</h1>
                    </td>
                    <td><img style="margin-left: 30%;">
                        <h1 class="text-center">100</h1>
                    </td>
                </tr>
                <tr>
                    <td><img style="margin-left: 30%;">
                        <h1 class="text-center">100</h1>
                    </td>
                    <td><img style="margin-left: 30%;">
                        <h1 class="text-center">100</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1 class="text-center">FAMILY PACK</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr>
                    <td><img style="margin-left: 30%;">
                        <h1 class="text-center">100</h1>
                    </td>
                    <td><img style="margin-left: 30%;">
                        <h1 class="text-center">100</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
