{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

    <h2 style="margin-left: 20px;margin-top: 10px;">DISCOVER</h2>
    <h5 style="margin-left: 20px;">RECOMMEND MENU</h5>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 offset-0"><img style="width: 350px;height: 350px;">
                    <p style="margin-bottom: 0;width: 150px;">ข้าวผัดกะเพราไก่</p>
                    <p style="margin-bottom: 0;">@HiewKao :)</p>
                </div>
                <div class="col-md-3">
                    <p style="margin-bottom: 0;width: 150px;"></p>
                    <p style="margin-bottom: 0;"></p>
                </div>
            </div>
        </div>
    </div>
    <h5 style="margin-left: 20px;margin-top: 20px;">POPULAR DISHES</h5>
    <div class="container"><img style="width: 350px;height: 350px;">
        <p style="margin-bottom: 0;">ไก่ทอด</p>
        <p>@HiewKao :)</p>
    </div>
    <h5 style="margin-left: 20px;margin-top: 20px;">POPULAR CHEFS</h5>
    <div class="container"><img style="width: 350px;height: 350px;">
        <p style="margin-bottom: 0;">Chef Matthew</p>
        <p>@HiewKao :)</p>
    </div>
    <h5 style="margin-left: 20px;margin-top: 20px;">FROM YOUR FRIDGE</h5>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img style="width: 350px;height: 350px;"></div>
            </div>
        </div>
    </div>

{% endblock %}
