{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

    <h2 style="margin-left: 20px;margin-top: 10px;">DISCOVER</h2>
    <h5 style="margin-left: 20px;">RECOMMEND MENU</h5>

    <h5 style="margin-left: 20px;margin-top: 20px;">POPULAR DISHES</h5>
    <div class="container"><img src="{{ url_for('static', filename='img/kapaochicken.jpg') }}" style="width: 100%;height: 350px;">
        <p style="margin-bottom: 0;">ข้าวผัดกะเพราไก่</p>
        <p>@HiewKao :)</p>
    </div>

    <h5 style="margin-left: 20px;margin-top: 20px;">POPULAR DISHES</h5>
    <div class="container"><img src="{{ url_for('static', filename='img/friedchicken.jpg') }}" style="width: 100%;height: 350px;">
        <p style="margin-bottom: 0;">ไก่ทอด</p>
        <p>@HiewKao :)</p>
    </div>
    <h5 style="margin-left: 20px;margin-top: 20px;">POPULAR CHEFS</h5>
    <div class="container"><img src="{{ url_for('static', filename='img/chefMatthew.jpg') }}" style="width: 100%;height: 350px;">
        <p style="margin-bottom: 0;">Chef Matthew <img src="{{ url_for('static', filename= 'img/star.png') }}" style="width: 4%;"> 5.0 </p>
        <p>@HiewKao :)</p>
    </div>
    <h5 style="margin-left: 20px;margin-top: 20px;">FROM YOUR FRIDGE</h5>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img src="{{ url_for('static', filename=randMenu['file']) }}" style="width: 100%;height: 350px;">
                <p style="margin-bottom: 0;">{{randMenu['name']}} <img src="{{ url_for('static', filename= 'img/star.png') }}" style="width: 4%;"> {{randMenu['rate']}}</p>
                <p>@HiewKao :)</p></div>
            </div>
        </div>
    </div>

{% endblock %}
