{% extends 'base.html' %}

{% block head %}
    <style>
        br {
            display: block;
            margin: 10px 0;
        }
    </style>
    
{% endblock %}



{% block body %}

<h2 style="text-align: center;margin-top: 20px;">Give Us Feedback!</h2>

<div class="container" style="background: #f9d4a8; ">
    
    <p style="text-align: center;"><img style="margin-top: 20px; width: 100%;" src="{{ url_for('static', filename= picture) }}" alt="Menu Picture"></p>
  
    <h2 style="text-align: center;">{{menuname}}</h2>
    <p style="text-align: center;">{{chefname}}</p>

    <form class = "form-group" method="POST" style="text-align: center;" action="{{ url_for( 'calculatation' ) }}">
        
        Rate: <select name="ratingMenu">

            {%for rate in range(6)%} 
                <option value={{rate}}>{{rate}}</option>
            {%endfor%} 
        
        </select>

        <input type="text" placeholder="Comment" style="justify-content: center;text-align: center;margin: auto;width: auto;">
        
        <div style="margin-top: 20px;">
            <button class="btn btn-primary" style="background: rgb(251,111,80);">SUBMIT</button>
            &nbsp;&nbsp;&nbsp;<a href="/fridgeSelection/ingredient/resultmenu/recipe/finish/rateMenu" style="">No Thanks</a>
        </div>

        <p style="text-align: center;margin-top: 10px;">Rate and Comment to Get Coins!</p><br>
            
    </form>

    
    

</div>




{% endblock %}