{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}


<h2 style="margin-top: 10px; text-align: center;">Remove Ingredient</h2><br>

<form method="POST" action="{{ url_for( 'editingIngredient' ) }}">

    {% set check = {'type': '', 'first': '1'} %}
    {% for ingredient in ingredients %}
        
        {% if check.first == '1' %} 

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ingredient[1]}}</th>
                        </tr>
                    </thead>
                    <tbody>

            {% if check.update({'first': '0' })%} {% endif %}

        {% elif check.type != ingredient[1] %} 

                </tbody>
            </table>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ingredient[1]}}</th>
                        </tr>
                    </thead>
                    <tbody>

        {% endif %}

        <tr><td>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ingredient[0]}}"  id="formCheck-1" name="removeCheckbox"><label class="form-check-label" for="formCheck-1"></label>{{ingredient[0]}}<img></label>
            </div>
        
        </td></tr>

        {% if check.update({'type': ingredient[1] })%} {% endif %}
    {% endfor %}

            </tbody>
        </table>
    </div>
    <br><br>
    
    <div class="fixed-footer-button" id="button">
        <div class="container" style="text-align: right;">

            <a href="/fridgeSelection/edit/displayIngredient"><button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i>Back</button></a>
            <button class="btn btn-warning btn-circle btn-xl"><i class="glyphicon glyphicon-remove"></i>Confirm</button>

        </div>        
    </div>
    

</form>

{% endblock %}
